@charset "UTF-8";
.modal{
	position: fixed;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
}
.modal {
	display: none;
	top: 80px;
}
#modal-switch,
label[for="modal-switch"] > span {
	position: absolute;
	left: -9999px;
}
label[for="modal-switch"] {
	position: absolute;
	right: 1rem;
	top: 1.3rem;
}
label[for="modal-switch"]:before {
	content: url("img/login1.gif");
	font-size: 2rem;
	cursor: pointer;
}
#modal-switch:checked ~ .modal {
	display: flex;
}
#modal-switch:checked ~ label[for="modal-switch"] {
	color: dodgerblue;
}

.dialog{
	width: 50vw;
	padding: 2em;
	border-radius: 1em;
	background: white;
}
.card-item{
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width:700;
	height:289;
}
.card-image{
	height: 0;
	padding-bottom: 60%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid #bbb;
}
.card-image img{
	display: none;
}

.card-image background-image{
	width: auto;
	height: auto;
}
.card-desc{
	width:700;
	height:100;
	font-size: 1.1em;
	/* flex: 1 1 auto;*/
	padding: 1em;
	background: white;
	text-align: center;
	border: 1px solid #bbb;
}
@media(min-width: 600px){
	.card-list{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;;
	}
	.card-item{
		width:50%;
		padding: 0 1rem;
	}
}	
@media(min-widht: 1200px){
	.card-item{
		width: 33.33333%;
		}
}