<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ReachRich.mapper.BM.boardMapper">
	<!-- 글 전체 개수 -->
	<select id="BoardCount" resultType="int">
		select count(*) from tbl_board
	</select>



</mapper>